[submodule "themes/amnix"]
	path = themes/amnix
	url = ssh://git@direct.parasynthetic.dev:2222/My_Github_Forks/Amnix-Hugo_Theme.git
	branch = master
[submodule "site"]
	path = site
	url = git@github.com:karlredman/Articles.git
	branch = gh-pages
