[submodule "themes/amnix"]
	path = themes/amnix
	url = https://github.com/vimux/amnix
	branch = master
[submodule "site"]
	path = site
	url = git@github.com:karlredman/Articles.git
	branch = gh-pages
